<div id="footer">
	<h5 class="float-right" id="power">Powered By</h5>
	
	<div class="image_wrapper float-right clear">
		<%= image_tag("/images/twilio.png", :id => "tilio-logo" ) %>
	</div>
	<div class="image_wrapper float-right">
		<%= image_tag("/images/box.gif", :id => "box-logo" ) %>
	</div>
	
	<div id="footer-left" class="">
		<h5>
			Open-FTP is created by Scott Johnson | 7.scott.j@gmail.com | github: <%= link_to("Itchy", "http://www.github.com/itchy") %><br/>
			Artwork Created by: Steve Hicks | steve@hcreative.net | <%= link_to( "H•Creative" , "http://www.hcreative.net") %> <br/>
			Open-FTP extends <%= link_to("Twilio", "http://www.twilio.com") + " and " + link_to("Box", "http://www.box.net") %> 
		</h5>
	</div>
	

</div>