<div id="intro">
	<div class="image_wrapper">
		<%= image_tag("/images/bouncer_vip_200.png", :id => "welcome_logo" ) %>
	</div>
	<div id="welcome-text">	
		<p>Open-FTP is a bouncer for your downloadable files. Open-FTP controls access to your shared files and will even <strong>text you</strong> if someone downloads one.
		</p>	
		<p>
			With Open-FTP watching your door,  VIPs get in, everyone else is stuck outside!
		</p>
	</div>		
</div>	
<div id="login">
	<h3>Log in</h3>
	<%= form_for :user, :url => session_login_path, :html => { :class => "html5", :id => "login_form", "accept-charset" => "utf-8"} do  |f| %>
		<div id="errors" class="error" >
			<!-- This is a place holder DIV where any error messages about this form will be placed -->
			<%= (render 'error', {:error => flash[:login_error]}) if flash[:login_error] %>
		</div>
		<%= f.text_field :email, :placeholder => "email", %>
		<%= f.password_field :password, :placeholder => "password" %>
		<%= f.submit :login %>
	<% end %>
</div>

<div id="register">
	<h3>or <%= link_to("Create a Free Account", session_register_path, :title => "This should be a tool tip!")%></h3>
</div>		